
@using Domain.Enum;

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<div>

    @if(User.Identity.IsAuthenticated)
    {
        
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input  type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Войти</a>

    }
</div>

