@using Domain.Enum;

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .container {
        text-align: center;
        padding: 20px;
        max-width: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .button {
        padding: 12px 20px;
        font-size: 18px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f2f2f2;
        cursor: pointer;
    }

        .button:hover {
            background-color: #e6e6e6;
        }

    .add-button {
        font-size: 24px;
        font-weight: bold;
        padding: 12px 20px;
    }

    .add-button-container {
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
</style>

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Account" asp-action="Logout">
            <h2>Панель управления</h2>
            <div class="button-container">
                <a class="button" asp-controller="Patients" asp-action="Index">Patients</a>
                <a class="button" asp-controller="Doctors" asp-action="Index">Doctors</a>
                <a class="button" asp-controller="Ticket" asp-action="Index">Ticket</a>
            </div>
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Войти</a>
    }
</div>
