@using Domain.Enum;


@{
    ViewData["Title"] = "Ticket";
    Layout = null;
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .add-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 24px;
        font-weight: bold;
        padding: 12px 20px;
    }

    .back-button {
        position: fixed;
        bottom: 20px;
        left: 20px;
        font-size: 18px;
        padding: 8px 12px;
    }
</style>

<table>
    <tr>
        <th>ФИО Пациента</th>
        <th>Врач</th>
        <th>Кабинет</th>
        <th>Время</th>
    </tr>
    <tr>
        <td>Иван Петров</td>
        <td>Алексей Иванов</td>
        <td>101</td>
        <td>10:30</td>
    </tr>
    <!-- Дополнительные строки таблицы с данными приёмов -->
</table>
<button class="add-button" onclick="location.href='add_ticket.html'">+</button>
<button class="back-button" onclick="history.go(-1)">Вернуться назад</button>
