﻿
@model Domain.Enitity.AccountViewsModel.RegisterViewModel;

@{
    Layout = null;
    ViewBag.Title = "Регистрация";
}

<form asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="All" ></div>
    <div >
        <input asp-for="Login"  placeholder="Логин" type="text">
    </div>
    <div >
        <input autocomplete="new-password" asp-for="Password" placeholder="Пароль"  type="password">
    </div>
    
    <div >
        <input autocomplete="new-password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль"  type="password">
    </div>
    <div>
       <select asp-for="UserRole" >
           @if(User.IsInRole("MainAdmin"))
            {
                <option selected value="0">Главный администратор</option>
                <option value="1">Администртор учётных записей</option>
                <option  value="2">Главный врач</option>
                <option  value="3">Работник регистратуры</option>
            }
            @if (User.IsInRole("MainDoctor"))
            {
               <option selected value="2">Главный врач</option>
            }
            @if (User.IsInRole("MainRegistryWorker"))
            {
           <option selected value="3">Работник регистратуры</option>
            }
            
            
           
       </select>
    </div>
    <button  type="submit">Добавить пользователя</button>
</form>